[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
neovim = "*"

[packages]
opencv-python = "*"
pdf2image = "*"
pillow = "*"
pytesseract = "*"

[requires]
python_version = "3.5"
